@import '../node_modules/bulma/bulma';

%medium-type {
  font-size: 21px;
  line-height: 24px;
}

.nav {
  @extend .columns;

  &__item {
    @extend %medium-type;
    &--main {
      @extend %medium-type;
    }
  }

  &__link-holder {
    @extend .column;
    display: block;
    padding-top: 25px;
  }
}

.section {


  &__image {
    @extend .image;
  }

  &__heading {
    margin-bottom: 1em;
    border-bottom: 1px solid;
    display: inline;
  }

  &__center {
  }

  &__list {
    margin-left: 2em;
    line-height: 1.5em;
  }

  &__text {
    padding-top: 1.5em;
    margin-left: .5em;
    line-height: 1.25em;
    text-align: justify;
  }
}

.projects-grid {
  @extend .columns;
  @extend .is-multiline;
  &__item {
    @extend .column;
    @extend .is-9;
    @extend .is-offset-2;
    display: block;
  }
}

.main {
  margin: 0 auto;
  max-width: 1170px;
  padding-top: 30px;
}
