$black: #000;
$grey:  hsl(0, 0%, 48%) !default

$primary: $black;
$text-strong: $black;
$text-light: $black;
$link-hover: $grey;

$family-sans-serif: 'Open Sans';

@import '../node_modules/bulma/bulma';

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
}

html {
  background: $black;
}

%medium-type {
  font-size: 21px;
  line-height: 24px;
}

.nav {
  @extend .columns;

  &__item {
    @extend %medium-type;
    font-family: 'Roboto';
    &--main {
      @extend %medium-type;
      font-family: 'Roboto';
      color: $turquoise;
      &:hover {
        color: $grey;
      }
    }
  }

  &__link-holder {
    @extend .column;
    display: block;
    padding-top: 25px;
  }
}

.section {


  &__image {
    @extend .image;
  }

  &__intro-text {
    font-family: 'Open Sans';
  }

  &__heading {
    margin-bottom: 1em;
    display: block;
    width: 100%;
  }

  &__center {
  }

  &__list {
    margin-left: 2em;
    line-height: 1.5em;
  }

  &__text {
    padding-top: 1.5em;
    margin-left: .5em;
    line-height: 1.25em;
    text-align: justify;
  }
}

.projects-grid, .land-grid {
  @extend .columns;
  @extend .is-multiline;
  background: #FFF;
  padding: 30px;
  &__item {
    @extend .column;
    @extend .is-9;
    display: block;
    margin: 0 auto;
  }
}

.main {
  margin: 0 auto;
  max-width: 1170px;
  padding-top: 30px;
}
